.shadowBox {
  box-shadow: 0 1px 2px #c8c8c8;
}

.Box {
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.ProjectDetailTag div {
  margin-top: 5px;
}

.PartialScrollVertical {
  overflow-y: scroll;
}

.Card {
  margin: 10px 5px 5px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 2%;
  max-height: 120px;
  cursor: pointer;
}
